apiVersion: v1
kind: ConfigMap
metadata:
  name: sensor-metrics-config
data:
  SENSOR_TEMP_URL: "http://url1"
  SENSOR_PRESS_URL: "http://url2"
  PUSHGATEWAY_URL: "http://url3"
  POLL_INTERVAL: "60"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: weather-metrics-config
data:
  LONGITUDE: "6.0803"
  LATITUDE: "46.2342"
---
apiVersion: v1
kind: Secret
metadata:
  name: sensor-metrics-secret
type: Opaque
data:
  USERNAME: username
  PASSWORD: password
